.App {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.App-header {
  background-color: rgb(232, 212, 101);
  height: 70px;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.App-title {
  font-size: 2.5rem;
  margin: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

